<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card" style="width: 300px;">
        <img class="card-img-top" src="" alt="">
        <div class="card-body w-mh-25">
          <h5 class="card-title"><%= title %></h5>
          <p class="card-text w-mh-5"><%= description %></p>
          <p class="card-text">€<%= price %></p>
          <div class="w-m-b-1">
              <a href="#" class="buttonE w-jc-c">Aggiungi Al Carrello</a>
          </div>
        </div>
      </div>
</body>
</html>