<%- include('bars/head', {title: 'Chi Siamo'}); %>
<%- include('bars/header'); %>
<div class="w-bg-h w-p-7">
    <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Chi Siamo</div>
    <div class="w-f-s-30 w-ta-c w-intro w-c-bisque">WhereHouse Service provides to:</div>
    <div class="w-f-s-30 w-ta-c w-intro w-c-bisque">View the items to be shipped</div>
    <div class="w-f-s-30 w-ta-c w-intro w-c-bisque">View shipped items</div>
    <div class="w-f-s-30 w-ta-c w-intro w-c-bisque">Track shipment</div>
</div>
<%- include('bars/footer'); %>
