<%- include('bars/head', {title: 'Contatti'}); %>
<%- include('bars/header'); %>
<div class="w-bg-h w-p-7">
    <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Contatti</div>
    <div class="w-f-w-b w-f-s-40 w-ta-c w-intro w-c-bisque">Francesco Della Volpe</div>
    <div class="w-f-w-b w-f-s-40 w-ta-c w-intro w-c-bisque">Davide Russo</div>
    <div class="w-f-w-b w-f-s-40 w-ta-c w-intro w-c-bisque">Salvatore Pappagallo</div>
</div>
<%- include('bars/footer'); %>
