<%- include('bars/head', {title: 'Ecommerce'}); %>
<%- include('bars/headerEcommerce'); %>
    <div class="backImage w-p-7">
        <div class="w-p-t-3 w-p-b-3 w-ta-c w-f-s-70 t-shadow">WELCOME TO THE SHOPPING</div>
    </div>
<%- include('bars/footerEcommerce'); %>
