<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assentsfavicon.icon/">
    <link rel="stylesheet" href="../../css/login.css" type="text/css">
</head>
<body>
    <div class="container">
        <form class="form" id="Forgot_Password">
            <h1 class="form__title">Password</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input--group">
                <input type="text" class="form__input" autofocus placeholder="Username or email">
                <div class="form__input-error--message"></div>
            </div>
            <div class="form__input--group">
                <input type="password" class="form__input" autofocus placeholder="Codice email">
                <div class="form__input-error--message"></div>
            </div>
            <div class="form__input--group">
                <input type="password" class="form__input" autofocus placeholder="Nuova Password">
                <div class="form__input-error--message"></div>
            </div>
            <div class="form__input--group">
                <input type="password" class="form__input" autofocus placeholder="Conferma Password">
                <div class="form__input-error--message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a class="form__link" href="./login" id="linkLogin">Sign in.</a>
            </p>
        </form>
    </div>
    <script src="./src/main.js"></script>
</body>
</html>