<%- include('bars/head', {title: 'Warehouse'}); %>
<%- include('bars/header'); %>
    <div class="w-bg-h w-p-7">
        <div class="w-p-t-3 w-p-b-3 w-ta-c w-f-s-70 w-c-bisque t-shadow">WEREHOUSE SERVICE</div>
        <div class="w-intro w-p-b-3 w-f-s-20 w-f-w-b w-c-bisque w-ta-c t-l-shadow">Analizza le tue vendite, controlla i depositi e garantisci un ottimo servizio ai tuoi clienti</div>
        <div class="w-ta-c w-f-s-16 w-c-bisque w-p-b-5 t-l-shadow">Pagamenti Veloci in Cloud</div>
        <div class="w-jc-c w-p-t-5">
            <a href="./warehouse" class="button">Vai al Magazzino</a>
            <a href="./orders" class="button">Visualizza Ordini</a>
            <a href="./shipping" class="button">Gestisci Spedizioni</a>
        </div>
    </div>
<%- include('bars/footer'); %>