<%- include('bars/head', {title: 'Dettagli'}); %>
<%- include('bars/header'); %>
    <div w-include-html="../bars/header.html"></div>
    <div class="w-bg-h w-p-7">
        <div class="w-f-w-b w-f-s-70 w-ta-l w-intro w-c-bisque">Dettaglio Ordine</div>
        <div class="w-jc-c w-p-t-4">
            <div class="w-w-100 w-bg-beige w-m-t-4 w-row w-jc-sb w-f-s-20 w-f-w-b">
                <div>Descrizione Ordine</div>
                <div>Quantità</div>
                <div>Stato Ordine</div>
            </div>
        </div>
    </div>
    </div>
<%- include('bars/footer'); %>
