<%- include('bars/head', {title: 'Ordini'}); %>
<%- include('bars/header'); %>
    <div w-include-html="../bars/header.html"></div>
    <div class="w-bg-h w-p-7">
        <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Ordini Forniture</div>
        <div class="w-f-w-b w-f-s-20 w-ta-c w-capital w-m-t-4">ordini effettuati ordini ricevuti ordini da effetturare</div>
        <div class="w-jc-c w-p-t-4">
            <div class="w-w-70 w-bg-beige w-m-t-4 w-row w-jc-sb w-f-s-20 w-f-w-b">
                <div>Numero Ordine</div>
                <div>Numero Prodotti</div>
                <div>Prezzo</div>
            </div>
        </div>
    </div>
<%- include('bars/footer'); %>
     