<%- include('bars/head', {title: 'Magazzino'}); %>
<%- include('bars/header'); %>
    <div class="w-bg-h w-p-7">
        <div class="w-f-w-b w-f-s-70 w-ta-c w-intro w-c-bisque">Magazzino</div>
        <div class="w-jc-c w-p-t-4">
            <div class="w-w-70 w-bg-beige w-m-t-4 w-row w-jc-sb w-f-s-20 w-f-w-b">
                <div>Nome Prodotto</div>
                <div>Prezzo</div>
                <div>Quantita</div>
                <div>Codice</div>
                <div>Disponibilita</div>
            </div>
        </div>
        <thead>
        </thead>
        <tbody>
        </tbody>
    </div> 
<%- include('bars/footer'); %>