.w-c-bisque { color: bisque; }
.w-c-beige { color: beige; }
.w-c-white {color: white; }


.w-bg-beige { background-color: beige; }
.w-bg-pink { background-color: pink;}

.t-shadow {text-shadow: 2px 6px 0px black;}

.t-l-shadow {text-shadow: 2px 3px 5px black;}
