<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="barE w-p-t-2 w-p-b-2">
        <div class="headerMenu">
            <a class="headerMenuItem w-m-r-3 w-p-r-2 w-p-l-2" href="">About Us</a>
            <a class="headerMenuItem w-m-r-3 w-p-r-2" href="">Privacy Policy</a>
        </div>
    </div>
</body>
</html>

