<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="footer bar w-p-t-2 w-p-b-2">
        <a class="menu-button w-p-l-2" href="./aboutus">Chi Siamo</a>
        <a class="menu-button w-p-l-2" href="./contact">Contatti</a>
    </div>
</body>
</html>