<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header bar w-p-t-2 w-p-b-2 w-jc-sb">
        <div>
            <a class="menu-button w-p-l-2" href="./">Home</a>
        </div>
        <div>
        <!-- <a class="menu-button w-p-r-2" href="./profilo">Account</a> -->
        </div>
    </div>
</body>
</html>

