<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body></body>
    <div class="barE w-p-t-2 w-p-b-2 w-jc-sb">
        <div>
            <a class="headerLogo w-p-l-2">Wherehouse</a>
        </div>
        <div class="headerMenu">
            <a class="headerMenuItem w-m-r-3 w-p-r-2" href="./men">Men</a>
            <a class="headerMenuItem w-m-r-3 w-p-r-2" href="./women">Women</a>
            <a class="headerMenuItem w-m-r-3 w-p-r-2" href="./kids">Kids</a>
            <a class="headerMenuItem w-m-r-3 w-p-r-2" href="./sales">Sales</a>
        </div>
    </div>
</body>
</html>

